/* Body */

body {
    font-family: 'Libre Franklin', sans-serif;
}

.bg-body {
    background-color: #f2f2f2;
}


/* Containers & Divs */
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.row {
    position: relative;
    margin: 0;
}
.container-fluid {
position: relative;
}

.padding-p {
    padding-left: 25%;
    padding-right: 25%;
    padding-top:3%;
}
@media (min-width: 769px) and (max-width: 926px) {
    .padding-p {
        padding-left: 20%;
        padding-right: 20%;
        padding-top:3%;
    }
}
@media (max-width: 768px){
    .padding-p {
        padding-left: 1%;
        padding-right: 1%;
        padding-top:3%;
        padding-bottom: 4%;
    }
} 

.absolute-position{
    position: absolute;
}

/* Navbar */

.navbar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar.scrolled {
 
    background: rgba(114, 113, 113, 0.7);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 1rem;
    padding-left: 1em;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
@media (max-width: 768px){
.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 45%;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
}}

.navbar-light .navbar-nav .nav-link {
    color: #F6F5F7;}

@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }}
    
.nav-link {
    display: block;
    padding: .2rem 1rem .3rem 1rem;
}
 
.bg-nav {
    background-color:rgba(128, 128, 128, 1);
    }
.nav-logo{
    height: auto;
    width: 50px;
    margin-left: 45%;

}   

@media (min-width: 451px) and (max-width: 768px){
    .nav-logo{
        margin-left: 49%;
        
    }
}


@media (max-width: 450px){
    .nav-logo{
        margin-left: 43%;
    }
}

.display-nav{ 
display: none!important;
}

.sticky-top {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 1020;
    width: 100%;
}

.sticky-top2 {
    /* position: fixed; */
    top: 0;
    z-index: 1020;
    width: 100%;}

/* Header text box */


.header-margin{
    margin-top: -5.5rem;
}

.header-text-box {
    position: absolute;
    width: 30%;
    bottom: 25%;
    left: 64%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0px solid;
   }

@media (min-width: 769px) and (max-width: 1050px) {
    .header-text-box{
    bottom: 21%;
    }
}


@media (max-width: 768px){
    .header-text-box {
    position: absolute;
    width: 83%;
    bottom: 20%;
    left: 8.5%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid;
}
    }



 /* Header text */

.h2-header {
    font-size: 1.9vw;
    position: relative;
    text-align: center;
    letter-spacing: 5px;
    color: #F6F5F7;
}

@media (max-width: 768px){
    .h2-header {
    font-size: 5.5vw;
    }
    }

 @media (min-width: 576px) and (max-width: 910px) {
     .h2-header{
        letter-spacing: 4.5px;
     }
    }


/* Header text box logo     */
.img-logo {
     width: 80%;
    position: relative;
    }

@media (max-width: 768px){
    .img-logo {
    width: 85%;
    }
    }
    


/* Images swap large to small  */
.small-image {
    display: none
}
@media (max-width: 768px){
    .small-image {
        display: block;
    }
    .large-image {
        display: none;
    }
}


.small-padding {
    padding: 0 4% 5% 4%;
}

/* Quote section */
.card-quote {
    padding-top: 2rem;
    padding-bottom: 3%;
    border: none;
    background-color: #F6F5F7;
}
.h5-quote {
    font-size: 2.2vw;
    color: #4f4f4f;
    position: relative;
    text-align: center; 
}
@media (min-width: 575px) and (max-width: 768px) {
    .h5-quote{
        font-size: 20px;
    }
    }

@media (max-width: 575px){
    .h5-quote {
        font-size: 18px;
        text-align: left;
        padding-left: 3%;
    }

}

.h5-signature {
    font-size: 2.1vw;
    font-family: 'Jomolhari', serif;
    color: #4f4f4f;
    text-align: right;
    position: relative ;
    text-align: right;
    margin-right: 18%;
    letter-spacing: .15rem;
}
@media (min-width: 575px) and (max-width: 768px) {
    .h5-signature{
        margin-right: 6%;
    }
    }

@media (max-width: 575px){
    .h5-signature {
    font-size: 14px;
    text-align: left;
    margin-right: 6%;
    padding-left: .7rem;
    }

}

.carousel-caption-main-right {
    position: absolute;
    width: 94%;
    top: 3%;
    left: 3%;
    z-index: 10;
    padding: 3%;
    color: #33333;
    text-align: center;
    border: 0px solid;
}

   @media (max-width: 768px) {
    .carousel-caption-main-right {
    position: static;
    width: 100%; 
    top: 0%; 
    left: 0%;
    z-index: 10;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%; 
    padding-right: 5;
    color: #33333;
    text-align: center;
    border: none;
} 
    }  
 

.carousel-caption-main-left {
    position: absolute;
    width: 94%;
    top: 3%;
    left: 3%;
    z-index: 10;
    padding: 3%;
    color: #33333;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
    border: 0px solid;
   }

   @media (max-width: 768px) {
    .carousel-caption-main-left {
    position: static;
    width: 100%; 
    top: 0%; 
    left: 0%;
    z-index: 10;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%; 
    padding-right: 5;
    color: #33333;
    text-align: center;
    border: none;
} 
}  
  


@media (max-width: 768px) {
.last {
    order: 12;

}
}


@media (max-width: 768px) {
    .left {
        margin-left: 25%;
    
    }
    }


/* Font Size main header text boxes */
 .h2-main {
    font-family: 'Jomolhari', serif;
    font-size: 2.6vw;
    color: #333333; 
    padding-bottom: .7rem; 
    letter-spacing: .3rem;
 }  
 @media (min-width: 576px) and (max-width: 900px) {
    .h2-main {
        font-size: 3vw;
        padding-bottom: .4rem; 
    }  
 }
 @media (max-width: 768px) {
    .h2-main {
        font-size: 30px;
        padding-bottom: 1rem; 
    }
}

.h2-main-white {
    font-family: 'Jomolhari', serif;
    font-size: 2.6vw;
    color: #ffff; 
    padding-bottom: 1rem; 
    letter-spacing: .3rem;
 }  
 @media (min-width: 576px) and (max-width: 900px) {
    .h2-main-white {
        font-size: 3vw;
    }  
 }
 @media (max-width: 768px) {
    .h2-main-white {
        font-size: 30px;
    }
}


/* Font size main paragraph text boxes */
 .h3-main {
    font-size: 1.6vw;
    color: #333333; 
 }

 @media (min-width: 576px) and (max-width: 900px) {
    .h3-main {
        font-size: 1.8vw;
    }  
 }
 @media (max-width: 768px) {
    .h3-main {
        font-size: 18px;
    }
}


.h3-main-white {
    font-size: 1.6vw;
    color: #fffff;  
}

 @media (min-width: 576px) and (max-width: 900px) {
    .h3-main-white {
        font-size: 1.8vw;
    }  
 }
 @media (max-width: 768px) {
    .h3-main-white {
        font-size: 18px;
    }
}




/* Text box Bridal  */
.bridal-text-box {
    position: absolute;
    width: 30%;
    bottom: 36%;
    left: 65%;
    z-index: 10;
    padding:2%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    /* border: 1px solid; */
}

@media (max-width: 768px){
    .bridal-text-box {
        position: static;
        width: 100%;
        padding: 5% 1% 5% 1%;
        color: #ffff;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
}
}

/* Carousel */
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: -25%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

/* 3 images row  */

.image-row   {
    padding: 4% 0 3% 0;
}

@media (max-width: 768px) {
    .image-row {
        padding: 4% 10% 4% 10%;
        
    }
}




 .h2-row {
    font-family: 'Jomolhari', serif;
    font-size: 2.3vw; 
    padding-bottom: 2%; 
    text-align: center;
    padding:  5% 3% 3% 3%;
    margin: 0;
 }  
 .h3-row {
    font-size: 1.4vw; 
    text-align: center;
    padding: 0 2%; 
    margin: 0; 
 } 
 .trendy-padding {
    padding: 4% 8% 6% 8%;
 }

/* The Boutique main page */
.boutique-box-store {
    position: absolute;
    width: 30%;
    bottom: 37%;
    left: 39%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
}

.boutique-heading {
    font-family: 'Jomolhari', serif;
    font-size: 3.5vw;
    letter-spacing: 4px;
    padding-bottom: .5rem;
}

@media(max-width: 768px){
.boutique-heading {
    font-family: 'Jomolhari', serif;
    font-size: 24px;
    letter-spacing: 4px;
    padding-bottom: .5rem;
}
}



.btn {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0.3rem 1.5rem;
        font-size: 2.4vw;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }



    

/* About US */
.line-height-about{
    line-height: 1.6;
}

.about-text-box {
    position: relative;
    width: 86%;
    margin: 17% 0% 0% -1%;
    z-index: 10;
    padding: 12px;
    color: #;
    text-align: center;
    background-color: #ffff;
}
        
@media (max-width: 768px) {
    .about-text-box {
        width: 100%;
        z-index: 10;
        margin: 0%;
        color: #;
        text-align: center;
        background-color: #f8f9fa;
        
    }
    }

    .h3-about {
        font-size: 1.5vw;
        color: #333333;
    }
    @media (min-width: 576px) and (max-width: 897px) {
        .h3-about {
            font-size: 1.6vw;
        }  
     }
     @media (max-width: 768px) {
        .h3-about {
            font-size: 18px;
        }
    }



/* The Boutique */

.btn#boutique-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.3rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boutique-text-box {
    position: absolute;
    width: 89%;
    bottom: 36%;
    left: 17%;
    z-index: 10;
    padding: 10% 6% 10% 6%;
    color: #;
    text-align: center;
    background-color: #D3E5DE;
}

@media (max-width: 768px) {
    .boutique-text-box {
        position: static;
        width: 100%;
        bottom: 29%;
        left: 17%;
        z-index: 10;
        padding: 10% 6% 10% 6%;
        color: #;
        text-align: center;
        background-color: #D3E5DE;
    }
}



.logo-row   {
    padding: 0% 7% 2% 7%;
}

@media(max-width:768px){
    .logo-padding{
        padding:0% 20%;
    }
}


.longines-text-box {
    position: absolute;
    width: 121%;
    top: -42%;
    left: 15%;
    z-index: 10;
    padding: 3%;
    color: #33333;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.1); */
    border: 0px solid;
}

.longines-margin {
    position: absolute;
    width: 117%;
    bottom: 5%;
    left: -13%;
    z-index: 10;}

 @media (max-width: 768px) {
        .longines-text-box {
        position: static;
        width: 100%; 
        top: 0%; 
        left: 0%;
        z-index: 10;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 5%; 
        padding-right: 5;
        color: #33333;
        text-align: center;
        border: none;
    } 
}  
    .longines-padding{
    padding: 0%;
    position: relative;
    bottom: -5%;
    left: -20%;
    z-index: 10;
    }
@media (max-width:768px){
.longines-padding {
    padding: 8%;
    position: relative;
    bottom: 0%;
    left: 0%;
    z-index: 10;
}
}


.side{
    padding-left: 12rem!important;
    padding-right: 12rem!important;
}


/* @media (max-width:768px){
    .logo-padding{
        padding: 1% 5% 1% 5%!important;
    }
} */


  /* Footer */

.footer-hr {
    border: 5px solid #ADA7A4;
}
   

footer {
    padding-top: 5rem;
}

.fa-facebook {
    color: #4f4f4f;
}

.footer-padding{
padding-top:5%;

}

  .footer-font{
    font-family: Arial, Helvetica, sans-serif;
}

.btn#contact-btn{
    padding: 0.1rem 1.9rem;
    font-size: 1.2rem;
}

.far, .fas, .fab {
    color: #5b5b5b;
}

.bg-footer{
    background-color:#a4a4a4;
    color: #f5f4f6;
    font-size: 1rem;
}
.footer-title{
    font-size: 1.5rem;
}

.footer-title2{
    font-size: 1.5rem;
    color: white;
}


.footer-padding {
    padding:5%;
}

a#torus {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
  
  a#torus:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(255,255,255,.08);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #444;
        background: rgba(0, 0, 0, 0.3);
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        text-align: left;}

.contact-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/contact_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.form-padding {
    position: relative;
    width: 50%;
    bottom: 2%;
    left: 25%;
    padding: 10%;
    z-index: 10;
    padding: 2%;
    color: #fff;
    text-align: left;
    background-color: rgba(255 , 255, 255, 0.2);
}

@media(max-width: 768px){
    .form-padding {
        position: relative;
        width: 100%;
        bottom: -2%;
        left: 0%;
        padding: 10%;
        z-index: 10;
        padding: 2%;
        color: #fff;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.2);
    }
}